#contact form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    padding: 0 3%;
   

}
#contact form input[type="text"], input[type="email"]{
    height: 40px;
    padding-left: 10px;
    width: 100%;
    outline: none;
 
}
textarea{
    padding-left: 10px;
    padding-top: 25px;
    width: 100%;
    outline: none;
    font-size: 1rem;
}
input[type="submit"]{
    height: 40px;
    width: 50%;
    cursor: pointer;
    background-color: rgb(230, 192, 24);
    color: white;
    border: none;
    font-weight: 900;
    
}
.icons{
    display: flex;
   gap: 40px;
    margin-top: 40px;
    justify-content: center;
}

.icon{
    font-size: 3rem;
}
.error{
    color: crimson;
   font-size: 1.1rem;
}
.success{
    color: rgb(0, 87, 0);
    font-size: 1.1rem;
}